body{
  font-family: "Poppins",sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Poppins";
  font-weight: 700;
}

p{
  color: #fff;
}


/* Headings */

.big-heading {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
}

.big-heading span {
  color: black;
}


.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Sections */

.colored-section {
  background-color: #CAD315;
  color: #fff;
}

.white-section {
  background-color: #fff;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Navigation Bar  */

.navbar {
  padding: 1.2rem 3rem 4.1rem 2rem;
}

.navbar-brand {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.navbar-brand:hover{
  color: #fff;
  background-color: transparent;
}

.nav-item{
  padding: 0 18px;
  color: #fff;
}

.nav-link{
  font-size: 1rem solid;
  font-family: "Roboto";
  font-weight: normal;
  color: #fff;
}

.nav-link img{
  width: 20px;
}

.nav-link span{
  margin: 0 15px;
}

.nav-item a:link{
  color: #fff;
  background-color: transparent;
}
.nav-item a:hover{
  color: #fff;
  background-color: transparent;
}

.search-img {
  padding-right: 40px;
}

.menu {
  margin: 0 20px;
}

.overlay {  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #fff;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px !important;
}



/* Title */


.title-background {
  height: 100vh;
position: relative;

}

.title-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #CAD315;
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  
}



#title .container-fluid {
  
  padding: 2% 1%;
}

#title .big-heading {
  padding-bottom: 1.5rem;
}


.title-image{
  width: 100%;
  bottom: 10%;
  z-index: 2;
  position: relative;
     
}

.readMore{
  margin: 5% 3% 5% 0;
  padding: 9px 35px;
  border: 2px solid ;
  border-radius: 35px;
}


/* carousel */

.carousel-item {
  text-align: left;
}


.carousel-item h1{
  color: #fff;
  line-height: 3rem;
}


.carousel-indicators {
  justify-content: flex-start;
  margin: 0 0 3%;
  left: 4%;
  align-self: center;
  color: #fff;
  font-weight: 700;
  top: auto;
  bottom: 0px !important;
  }

.carousel-indicators li {
  text-indent: initial;
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
  opacity: 0.9;
  margin: 10px;
}

.carousel-indicators .active {
  font-size: 25px;
}



.carousel-slider {
  width: 100px;
  position: relative;
  top: 70vh;
  bottom: 0 !important;   
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}


.carousel-control-prev,
.carousel-control-next {   
  border-radius: 100%;
  background-color: #fff;
  opacity: 1;
  width: 40px;
  height: 40px;
  top: auto;
  bottom: 0 !important;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;    
  box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);    
}

.carousel-slider .carousel-control-prev:hover,
.carousel-slider .carousel-control-next:hover {
  background-color: black;
  background-size: 12px;

}

.carousel-slider .carousel-control-prev {
  background-image: url(../images/left-black-arrow.png);
  z-index: 3;
}

.carousel-slider .carousel-control-next {
  background-image: url(../images/right-black-arrow.png);
  z-index: 3;
}

.carousel-slider .carousel-control-prev:hover {
  background-image: url(../images/prev.png);
  z-index: 3;
}

.carousel-slider .carousel-control-next:hover {
  background-image: url(../images/next.png);
  z-index: 3;
}

/* about */

#about {
  padding: 100px;
  position: relative;
}

.about-heading p {
  color: black;
}

#about .readMore {
  color: #CAD315;
  border-color: #CAD315;
}
#about .readMore:hover {
  color: #fff;
  background-color: #CAD315;
}

.card-body h4 {
  color: black;
  font-weight: bold;
  font-size: larger;
}
.card-body p {
  color: black;
  font-size: large;
}

.card-text{
  font-size: 3rem;
  line-height: 1.5rem;
  color: black;
}

.card-img {
  width: 110px;
  height: 104px;
  margin: 40px auto;
  
} 

.card-img img {
  width: 100%;
}

.about-card {
  margin: 20px 5px;
  min-width: 30%;
  height: 75%;
}


/* Portfolio */

#portfolio {
  text-align: center;
}

.container {
  padding: 20px 0;
}
.container p {
  color: black;
}


.portfolio-img img {
  width: 100%;
  height: max-content;
  margin: 20px 0;
}

.container-img {
    padding: 45px;
}

/* Footer */

footer p{
  color: black;
}


/* Responsive */

@media (max-width: 1350px) {
  .title-background {
      height: 130vh;
  }
  .carousel-slider {
    top: 90vh; 
  }
  .carousel-item {
    padding-bottom: 05%;
  }
  .carousel-indicators{
      margin-bottom: 10%;
  }
}

@media (max-width: 1250px) {
  .carousel-slider {
    top: 90vh;
  }
  .carousel-item {
      padding-bottom: 05%;
  }
  .carousel-indicators{
      margin-bottom: 5%;
  }
}

@media (max-width: 954px) {
  .title-background {
      height: 130vh; 
  }
  .carousel-slider {
    top: 90vh;
  }
  .carousel-item {
    padding-bottom: 20%;
  }
  .carousel-indicators{
      margin-bottom: 20%;
  }
  .title-image{
      top: 10%; 
  } 
}

@media (max-width: 768px) {
  .title-background {
      height: 220vh; 
  }
  .carousel-slider {
    top: 165vh;
  }
  .carousel-item {
    padding: 0 3% 25%;
    text-align: center;
  }
  .carousel-indicators{
      margin-bottom: 20%;
  }
  .title-image{
      top: 1%; 
      bottom: 10%;
  }
} 

@media (max-width: 628px) {
  .title-background {
      height: 210vh;
  }
  .carousel-slider {
    top: 160vh;
  }
  .carousel-item {
    padding: 0 5% 35%;
    text-align: center;
  }
}